*.log
*~
.DS_Store
clone_to_local
config/tunnlr.yml
config/database.yml
coverage/
db/development_structure.sql
db/mysql
db/schema.rb
doc/plugins/
doc/plugins/
log
.DS_Store
public/frameset.html
public/images/characters/pc/*/*_left.png
public/images/characters/pc/*/*_small.png
public/images/outfits/*/*_left.png
public/images/outfits/*/*_small.png
public/images/plants/outlines
public/javascripts/all.js
public/stylesheets/all.css
script/.proxy_user
script/notification_queue_runner.pid
tmp
coverage.data
