<p>
  <b>Name:</b>
  <%=h @scene.name %>
</p>

<p>
  <b>Image file name:</b>
  <%=h @scene.image_file_name %>
</p>


<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>