<% @title = "Welcome to the play page" %>
<% @headline = "This is a headline" %>

<p>Hello!  You have reached the play index page.  Reuven was here.</p>

<div id="comments_post">
  <h3>Leave a comment:
  </h3>
  <form method="POST">
    <div id="user">  Name:
      <input name="name" size="27">
      <br />
      <fb:login-button>
      </fb:login-button>
    </div>
    <textarea name="comment" rows="5" cols="30">
    </textarea>
    <br />
    <input type="submit" value="Submit Comment">
  </form>
</div>

<p>Hello again!</p>
