<div class="tabs clearfix">
  <ul class="left_tabs">
    <%=
      # Tabs must be declared inside a single
      # rails tag like this because we the CSS
      # breaks if there is any whitespace between
      # the html tags. Not sure why...

      tab(  "Play",
            :controller => :play,
            :action     => :index,
            :selected   => @play_tab,
            :first      => true  ) +

      tab(  "Shop",
            :controller => :shop,
            :selected   => @shop_tab ) +

      tab(  "Welcome",
            :controller => :welcome,
            :action     => :index,
            :selected   => @welcome_tab ) +

      tab(  "Invite Friends",
            :controller => :relationships,
            :action     => :invite,
            :selected   => @relationships_tab )

    %>
  </ul>
  <ul class="right_tabs">
    <%=
      tab(  "Right-side Tab",
            :href       => "#",
            :first      => true,
            :last       => true )
    %>
  </ul>
</div> <!-- tabs -->
