<div class="tabs clearfix">
  <ul class="left_tabs">
    <%=
      # Tabs must be declared inside a single
      # rails tag like this because we the CSS
      # breaks if there is any whitespace between
      # the html tags. Not sure why...

      tab(  "Play",
            :controller => :play,
            :action     => :index,
            :selected   => @play_tab,
            :first      => true  ) +

      tab(  "Shop",
            :controller => :shop,
            :selected   => @shop_tab ) +

      tab(  "Welcome",
            :controller => :welcome,
            :action     => :index,
            :selected   => @welcome_tab ) +

      tab(  "Donate",
            :controller => :gambit,
            :action     => :index,
            :selected   => @gambit_tab ) +

      tab(  "Invite Friends",
            {
              :controller => :relationships,
              :action     => :invite,
              :selected   => @relationships_tab,
              :host       => "apps.facebook.com",
              :only_path  => false,
              :canvas     => true,
              :fb_force_mode => 'fbml' 
            },
            {
              :target => '_top'
            } )
            
    %>
  </ul>
  <ul class="right_tabs">
    <%=
      tab(  "Right-side Tab",
            :href       => "#",
            :first      => true ) +
      
      tab(  "CSS Demo",
            :href     => "http://web1.tunnlr.com:10107/css_demo.html",
            :last     => true,
            :target   => "_top"
         )
    %>

    
  </ul>
</div> <!-- tabs -->
